
# Rename this file to .env and fill your values
GEMINI_API_KEY=AIzaSyBWwZlfcgtUy_RKzv4AbwgTP-dwiOUxb58
# GOOGLE_API_KEY=AIzaSyBWwZlfcgtUy_RKzv4AbwgTP-dwiOUxb58
APP_NAME=AI Interview Coach API
APP_ENV=development
